.bio {
  background: var(--color-clr1);
  padding: 50px 100px;
}
.bio h1 {
  color: var(--color-clr4);
  font-family: var(--font-raleway);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.bio p {
  color: var(--color-clr4);
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 300;
  width: 900px;
}
@media (max-width: 1280px) {
  .bio {
    padding: 50px 60px;
  }
  .bio p {
    width: auto;
  }
}
