.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 2rem;
  background: var(--color-clr4);
  background: radial-gradient(circle, #ffffff 0%, #c4c4c4 100%);
}
.contact h1 {
  font-family: var(--font-montserrat);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 7px;
  /* padding-bottom: 2rem; */
}
.contact p {
  font-family: var(--font-poppins);
  font-size: 15px;
  padding-bottom: 3rem;
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.contact form input,
textarea {
  width: 610px;
  height: 50px;
  border: none;
  background: transparent;
  padding-left: 1rem;
  font-size: 1rem;
  font-family: var(--font-poppins);
  border-bottom: 5px solid var(--color-clr1);
  border-left: 5px solid var(--color-clr1);
}
.contact form textarea {
  height: 184px;
}
.contact form input,
textarea::placeholder {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: bold;
}
.contact form input,
textarea:focus {
  outline: none;
}
.contact form button {
  font-size: 30px;
  font-family: var(--font-montserrat);
  font-weight: bold;
  letter-spacing: 3px;
  border: none;
  padding: 10px 20px 10px 20px;
  border: 5px solid var(--color-clr1);
  /* border-right: 5px solid var(--color-clr1); */
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}
.animate {
  animation: move 0.9s ease;
}
@keyframes move {
  0% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(0) rotate(45deg);
  }
  100% {
    transform: translateX(60px) rotate(45deg);
  }
}
@media (max-width: 980px) {
  .contact p {
    padding: 0 2rem 3rem 2rem;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .contact form input,
  textarea {
    width: 100%;
  }
  .contact h1 {
    text-align: center;
  }
  form {
    width: 100%;
    padding: 0 10px;
  }
}
